<mat-card class="h-min-400p">
  <mat-card-header>
    <mat-card-title>
      <h2> PARTICIPANTES</h2>
    </mat-card-title>
    <span fxFlex></span>
    <!--Crear-->
    <button mat-icon-button matTooltip="Crear" aria-label="Añadir" (click)="openCreateModalPart()">
      <mat-icon color="primary">add_circle_outline</mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div style="margin-top: 15px">
      <div fxFlex="100" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="15px grid">

        <div *ngFor="let part of participants" fxFlex="30">
          <div *ngIf="part.status == 1 || part.status == 3">
            <app-chips-participants fxFlex="0 1 calc(100%) " fxFlex.lt-md="0 1 calc(100%)" 
            fxFlex.lt-sm="100%" class="w-100" (part)="DeletePartList($event)" [user]="part"></app-chips-participants>
          </div>

          <div *ngIf="part.status == 2 ">
            <app-chips-participants fxFlex="0 1 calc(100%) " fxFlex.lt-md="0 1 calc(100%)"
            fxFlex.lt-sm="100%" class="w-100" (deleteInvitationPart)="deleteInvitation($event)" [invitation]="part.email"></app-chips-participants>
          </div>
        
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>

