@import '../../../../../core/styles/variables';

h3{
    font-size: $font-size-16;
    color:mat-color($primary);
    margin-bottom: 5px;


}

@media (max-width:370px){

    .margin-top-card{
        margin-top: 1em;

    }

}
