@import '../../../../core/styles/variables';
a{

    color:$light-gray-font;
    margin-left:1em;
  }

.m-top{
 margin-top: 2em;

}
.margin-botto{

    margin-bottom: 1em;
}
.color-white {

    background: white;
}

.max-h{

    max-height: 100px;
}

.margin-b{

    margin-bottom: 500px;
}
.c-red{
    color: red;

}