@import '../../../core/styles/variables';

.title {
  font-weight: bold;
  font-size: $font-size-28;
  color: $light-gray-font;
}
.mensaje {
  font-size: $font-size-18;
  color: $light-gray-font;
  margin-bottom: 2em ;
}
.a-password-recovery {
  color: $light-gray-font;
  font-size: $font-size-14;
  cursor: pointer !important;
}

.button-submit {
  span {
    color: $white-color;
  }

}
