<mat-card class="card-add">
  <!--        <div fxLayout="column" fxFlex="100%" class="w-50 mq-w-90" >-->
  <div fxLayoutAlign="center center" class="margin-buttom">
    <button mat-fab aria-label="add" class="add-button" matTooltip="Añadir" color="" (click)="newGroup()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div fxLayout="row" class="margin" fxLayoutAlign="center center">
    <div fxLayout="row">
      <mat-card-content class="font">Añadir Grupo</mat-card-content>
    </div>
  </div>
  <!--        </div>-->
</mat-card>

