@import '../../../../core/styles/variables';
span{
font-size: $font-size-14;

}
caption{
  color: mat-color($primary) ;
  margin-left: -150px;
  margin-bottom: 10px;
  font-size: $font-size-12;

}
.margin{
 
  margin-top:3px;

}
.margin-t{
  margin-top: 10px;
  margin-bottom: 8px;
}
.title {
  color: mat-color($primary);
  font-weight: bold;
  font-size: $font-size-14;
}

.mat-dialog-content {
  max-height: initial !important;
  overflow-y: auto;
}

.form-container {
  margin-top: 4%;
}

.mat-option {
  font-family: Roboto, sans-serif !important;
  font-size: $font-size-14;
}

#date-label {
  font-size: $font-size-12;
}



mat-label {
  color: mat-color($primary);
  font-size: $font-size-14;
}

.mat-form-field-invalid {
  mat-label {
    color: RED;
  }
}

.chip-content {
  width: 125px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.avatar-container {
  line-height: normal !important;
}

.title-span {
  width: 125px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.subtitle-span {
  width: 125px;
  font-size: $font-size-10;
  color: $light-gray-font;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}


@media (max-width:370px){

  .card-reposive{
    min-width: 290px;
    margin-left: -20px;

  }
  
}  
@media screen and (max-width:500px) {
  caption{color: mat-color($primary) ;margin-left: -10px;}
  td{ font-size: $font-size-12; }
  .margin-top{margin-top: 1em;}
  
}